<section class="price-plans">
    <div class="auto-container">

        <div class="sec-title wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1000ms"><h2>Meeting Management</h2></div>
        <div class="sec-text wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1000ms"><p>Create new meeting or Update existing meeting</p></div>


        <div class="row clearfix">

            <!--Table Column-->
            <article class="col-md-6 col-sm-6 col-xs-12 table-column wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                <div class="table-inner hvr-sweep-to-bottom">
                    <div class="clearfix">
                        <div class="col-md-6 col-sm-12 col-xs-12 half-column price">
                            <p>CREATE NEW MEETING</p>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12 half-column list">
                            <h3>This includes:</h3>
                            <ul>
                                <li>set up new meeting</li>
                                <li>setting meeting items</li>
                                <li>assigning to right person</li>
                            </ul>
                        </div>
                    </div>

                    <a style="cursor:pointer" ng-click="vm.navigateTo('/newMeeting')" class="read-more hvr-bounce-to-right"><span class="fa fa-play"></span></a>
                </div>
            </article>

            <!--Table Column-->
            <article class="col-md-6 col-sm-6 col-xs-12 table-column recommended wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1500ms">
                <div class="table-inner hvr-sweep-to-bottom">
                    <div class="clearfix">
                        <div class="col-md-6 col-sm-12 col-xs-12 half-column price">
                            <p>UPDATE EXISTING MEETING</p>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12 half-column list">
                            <h3>This includes:</h3>
                            <ul>
                                <li>selecting a meeting</li>
                                <li>updating meeting items</li>
                                <li>updating items status</li>
                            </ul>
                        </div>
                    </div>

                    <a style="cursor:pointer" ng-click="vm.navigateTo('/updateMeeting')" class="read-more hvr-bounce-to-right"><span class="fa fa-play"></span></a>
                </div>
            </article>

            <!--Table Column-->
            <article class="col-md-6 col-sm-6 col-xs-12 table-column wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms"></article>

            <!--Table Column-->
            <article class="col-md-6 col-sm-6 col-xs-12 table-column wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1500ms"></article>
        </div>
    </div>
</section>